$off-black: #616161;
$medium: 1345px;
$small: 767px;
$link-color: #1793ff;

$h1-fontsize: 2.6rem;
$h2-fontsize: 2.2rem;
$h3-fontsize: 1.8rem;
$h4-fontsize: 1.4rem;
$h5-fontsize: 1.2rem;
$h6-fontsize: 1rem;

body {
  color: $off-black;

  a.read-more {
    &:after {
      transition: none;
      display: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    @media (max-width: $medium) {
      font-weight: 700;
    }
  }

  h1 {
    font-size: $h1-fontsize;
    @media (max-width: $small) {
      font-size: $h2-fontsize;
    }
  }
  h2 {
    font-size: $h2-fontsize;
    @media (max-width: $small) {
      font-size: $h3-fontsize;
    }
  }
  h3 {
    font-size: $h3-fontsize;
    @media (max-width: $small) {
      font-size: $h4-fontsize;
    }
  }
  h4 {
    font-size: $h4-fontsize;
    @media (max-width: $small) {
      font-size: $h5-fontsize;
    }
  }
  h5 {
    font-size: $h5-fontsize;
    @media (max-width: $small) {
      font-size: $h6-fontsize;
    }
  }
  h6 {
    font-size: $h6-fontsize;
  }

  p {
    margin-top: 8px;
  }

  #header {
    margin-bottom: 1.125rem;

    .logo_container {
      .site-title {
        margin-top: 0;
        @media (max-width: $medium) {
          margin-top: 45px;
        }
        @media (max-width: $small) {
          margin-top: 6px;
        }
      }
      .custom-logo {
        height: 30px;
        @media (max-width: $medium) {
          height: 35px;
        }
        @media (max-width: $small) {
          height: 30px;
        }
      }
    }

    nav.jqueryslidemenu {
      margin-bottom: 0;
    }

    #primary-menu {
      .dropdown-menu {
        margin-bottom: 18px;
      }
    }
  }

  &.blog, &.search, &.archive {
    article {
      margin-bottom: 6rem;
    }
  }

  #main {
    max-width: 700px;
    @media (max-width: $medium) {
      margin: 0 auto;
    }

    article {
      line-height: 1.58;
      .entry-content {
        h1, h2, h3, h4, h5, h6 {
          margin-top: 45px;
          @media (max-width: $medium) {
            margin-top: 32px;
          }
        }
      }

      .metadata {
        .meta_comments {
          display: none;
        }
        text-align: left;
      }
      .entry-header {
        .post-title {
          text-align: left;
          font-size: 2.625rem;
          @media (max-width: $small) {
            font-size: 2rem;
          }
        }
      }
    }

    @media (max-width: $small) {
      .about-author {
        text-align: center;
        .avatar {
          margin-bottom: 30px;
        }
      }
    }

  }

  .sub-footer p {
    float: none;
  }
}